extends layout.pug
block content
    article.containerAddEmployee
        h1 Agregar un empleado
        section.sectionForm
            form.formAddEmployee(action="/", method="post" , enctype="multipart/form-data") 
                label.itemLabel Name 
                input.intemInput(type="text" name="name" required)
                label.itemLabel Lastname
                input.intemInput(type="text" name="lastname" required)
                label.itemLabel Age
                input.itemInput(type="number", name="age" required)
                label.itemLabel Birthday
                input.intemInput(type="date" name="birthday" required)
                label.intemLabel Phone Number
                input.intemInput(type="Number",name="phoneNumber" required)
                label.intemLabel Email
                input.intemInput(type="email",name="email" required)
                label.intemLabel City
                input.intemInput(type="text",name="city" required)
                label.intemLabel State
                input.intemInput(type="text",name="state" required)
                label.intemLabel Street Address
                input.intemInput(type="text",name="streetAddress" required)
                label.intemLabel Job Area
                input.intemInput(type="text",name="jobArea" required)
                label.intemLabel Job Descriptor
                input.intemInput(type="text",name="jobDescriptor" required)
                label.intemLabel Job Type
                input.intemInput(type="text",name="jobType" required)
                label.intemLabel Experience
                input.intemInput(type="Number",name="experience" required)
                label.intemLabel Avatar
                input.itemImputFile(type="file", name="avatar" required)
                input.inputSubmit(type="submit", value="Enviar")