html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/employees-style.css")
        title Lista de empleados 
    header.header
        h1 companyName
        img.avatarProfile(src=`https://cloudflare-ipfs.com/ipfs/Qmd3W5DuhgHirLHGVixi6V76LhCkZUz6pnFt5AJBiyvHye/avatar/601.jpg`, alt="Imagen de perfil")
    body  
        block content